<div id="overlay" class="pr0linker" style="display: block;">
	<div id="overlay-target">
	</div>

	<div id="overlay-box" class="overlay-error">
		<div class="overlay-content">
			<h2>Benutzer zu Linkliste hinzufügen</h2>
		</div>
		<div class="overlay-content">
			<p>
				Wähle die Liste aus, zu der du den Benutzer hinzufügen möchtest:
			</p>
			<div>Liste: <div style="display: inline-block;" id="add-user-select-container"></div>
			</div>

			<input id="add-user" type="submit" class="confirm" value="Hinzufügen" />
		</div>
	</div>
</div>