<div id="overlay" class="pr0linker" style="display: block;">
	<div id="overlay-target">
	</div>

	<div id="overlay-box" class="overlay-error">
		<div class="overlay-content">
			<h2>Benutzer zu Verlinken</h2>
		</div>
		<div class="overlay-content">
			<p>
				Wähle die Liste aus, deren Benutzer du verlinken möchtest:
			</p>
			<div>
				<div style="display: inline-block;" id="add-list-select-container"></div> <a id="add-list-button">Hinzufügen</a>
			</div>

			<div class="user-list">
				<ul id="selected-users">
					Keine Benutzer ausgewählt
				</ul>
			</div>

			<input id="post-comment" type="submit" class="confirm" value="Benutzer in Kommentar Verlinken" />
		</div>
	</div>
</div>