a.add-to-linklist {
  padding-left: 8px;
}

#overlay-target {
  // display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 199;
}

#overlay-box.overlay-error {
  cursor: default;
}
