a.add-to-linklist {
  padding-left: 8px;
}

.comment-foot {
  svg {
    height: 16px;
    fill: #888;
    vertical-align: middle;
  }

  svg:hover {
    fill: var(--theme-main-color);
  }
}

#overlay-target {
  // display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 199;
}

#overlay-box.overlay-error {
  cursor: default;
}

ul#selected-users {
  & > li.inactive {
    color: rgba(255, 255, 255, 0.55);
  }
}
