#add-user.action {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	background-color: #ee4d2e;
	background-color: var(--theme-main-color);
	padding: 3px 12px;
	margin-left: 16px;
	vertical-align: 8px;
}